#Data Cleaning

In [ ]:
## for deleting duplicate rows
print(df.drop_duplicates(keep=first))

## for handle missing value in data
df.fillna(value=0, inplace=True)
print(df)

##for handle missing values in specific column
df['column_name']=df['column_name'].fillna(df['column_name'].mean())

##for handle missing values in multiple columns
df.fillna({'column1':df['column1'].mean(), 'column2':df['column2'].mean()}, inplace=True)
print(df)

## for standardize the text in the column
df['Gender']=df['Gender'].str.upper().replace({'MALE':'M','FEMALE':'F','NOT KNOWN':'NA'}) # MALE=key, M=Value
print(df)

## handle the string values in numeric data column
df['Fees']=pd.to_numeric(df['Fees'], errors ='coerce') #it returns NaN value if some string occur in column, we can handle it after use fillna or mean()
print(df)

## handle the format of Date Column 
df['Date']=pd.to_datetime(df['Date'], errors = 'coerce', dayfirst=True)  # dayfirst = True used for DD/MM/YYYY format, day pehle aaega
print(df)

## for change the datatype of column
df['Column_name']=df['Column_name'].astype(int)   # type can be float, string or integer
print(df)

In [ ]:
#Example
def clean_data(df):
    df.drop_duplicates(inplace=True)
    df["Name"] = df["Name"].str.strip()
    df["Gender"] = df["Gender"].str.lower().replace({"male":"M", "female":"F"})
    df["Age"].fillna(df["Age"].mean(), inplace=True)
    df["ID"] = df["ID"].astype(str)
    df["Fees"] = pd.to_numeric(df["Fees"], errors="coerce")
    return df

df = clean_data(df)
print(df)

In [ ]:
## for export the data in Database

df.to_sql("Students_Cleaned", engine, if_exists="replace", index=False)

In [ ]:
## for export data in CSV file

df.to_csv("students_cleaned.csv", index=False)